{% extends "AppBundle::admin-layout.html.twig" %}
{% block mainContain %}
<!-- row -->
<div class="row">

    <!-- col 12 -->
    <div class="col-md-6">



        <!-- tile -->
        <section class="tile color transparent-black">


            <!-- tile header -->
            <div class="tile-header">
                <h1><strong>New Cake Type</strong> </h1>
                <div class="controls">
                    <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                    <a href="#" class="remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <!-- /tile header -->

            <!-- tile body -->
            <div class="tile-body">

                {#<form class="form-horizontal" role="form" method="post" action="{{ path('new-type') }}">#}
                {{ form_start(form, {'attr':{'class':'form-horizontal', 'role':'form'}}) }}

                    <div class="form-group">
                        {{ form_errors(form) }}
                    </div>

                    {% for child in form %}
                    <div class="form-group">
                        {#{{ form_label(child) }}#}
                        {{ form_label(child, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                        <div class="col-sm-9">
                            {{ form_widget(child, {'attr': {'class':'form-control'} }) }}
                        </div>

                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">&nbsp;</label>
                        <div class="col-sm-9"><input value="Add Now" type="submit" class="btn btn-greensea" /></div>
                    </div>
                {{ form_end(form) }}
            </div>

        </section>
    </div>
</div>
{% endblock %}
