{% extends "NathanCakeBundle::layout.html.twig" %}

{% block myCss %}
    <link rel="stylesheet" href="{{ asset("bundles/nathancake/") }}css/home/index.css">
{% endblock %}

{% block container %}

    <div style="position:relative; z-index:2;" class="ind-banner clearfix">

        <div class="inpic-tab">

            <div class="main-slide">
                <div class="prev">prev</div>
                <div class="next">next</div>

                <ul class="slide-list switchable-content">
                    <li class="slide-item">
                        <a id="IDmain 年节坚果礼盒" href="#">
                            <img title=" 年节坚果礼盒" src="{{ asset("bundles/nathancake/") }}images/banner-1.jpg">
                        </a>
                    </li>
                    <li class="slide-item" style=" opacity: 0.196035;">
                        <a id="IDmain百香果大块" href="#">
                            <img title="百香果大块" src="{{ asset("bundles/nathancake/") }}images/banner-2.jpg">
                        </a>
                    </li>
                    <li class="slide-item" style=" opacity: 0.803965;">
                        <a id="IDmain百香果小块" href="#">
                            <img title="百香果小块" src="{{ asset("bundles/nathancake/") }}images/banner-3.jpg">
                        </a>
                    </li>
                    <li class="slide-item">
                        <a id="IDmain21客会" href="#">
                            <img title="21客会" src="{{ asset("bundles/nathancake/") }}images/banner-4.jpg">
                        </a>
                    </li>
                </ul>

                <div class="slide-triggers switchable-triggerBox">
                    <span class="trigger-item active">1</span>
                    <span class="trigger-item">2</span>
                    <span class="trigger-item">3</span>
                    <span class="trigger-item">4</span>
                </div>
            </div>

        </div>
    </div>


    <div style="z-index:1;" class="indexgoods clearfix">
        <div class="title-banner">
            <div class="banner">
                <a id="IDbanner黑越橘" href="#">
                    <span class="title">Blue Monday<br> 黑越橘</span>
                    <img alt="黑越橘" src="{{ asset("bundles/nathancake/") }}images/goods-1.jpg">
                </a>
            </div>
        </div>

        <div class="title-banner">
            <div class="banner">
                <a id="IDbanner卡布其诺" href="#">
                    <span class="title">Cappuccino<br>卡布其諾</span>
                    <img alt="卡布其诺" src="{{ asset("bundles/nathancake/") }}images/goods-2.jpg">
                </a>
            </div>
        </div>

        <div class="title-banner">
            <div class="banner">
                <a id="IDbanner克魯兹" href="#">
                    <span class="title">Crumble<br>克魯兹</span>
                    <img alt="克魯兹" src="{{ asset("bundles/nathancake/") }}images/goods-3.jpg">
                </a>
            </div>
        </div>

        <div class="title-banner">
            <div class="banner">
                <a id="IDbanner黑白巧克力慕斯" href="#">
                    <span class="title">Black and White Chocolate Mousse<br>黑白巧克力慕斯</span>
                    <img alt="黑白巧克力慕斯" src="{{ asset("bundles/nathancake/") }}images/goods-4.jpg">
                </a>
            </div>
        </div>

    </div>
{% endblock %}



{% block myJs %}
    <script type="text/javascript">
        var t = setTimeout("visualShow()",3000);
        var tnum = 0;
        $(".slide-item").hide();
        $(".slide-item").eq(0).show();
        $(".trigger-item").eq(0).addClass("active");

        $(document).ready(function(){
            $(".trigger-item").each(function(index){
                $(".trigger-item").eq(index).mouseenter(function(){
                    t = clearTimeout(t);
                    tnum=index;
                    setDesign();
                });
            });
            $(".trigger-item").mouseleave(function(){
                t = setTimeout("visualShow()",3000);
            });
            $(".main-slide .prev").click(function(){
                if(tnum > 0)
                {
                    tnum--;
                }
                else
                {
                    tnum = $(".trigger-item").length-1;
                }
                setDesign();
            });
            $(".main-slide .next").click(function(){
                if(tnum < $(".trigger-item").length-1)
                {
                    tnum++;
                }
                else
                {
                    tnum = 0;
                }
                setDesign();
            });
            $(".inpic-tab").mouseenter(function(){
                $(".main-slide .prev,.main-slide .next").show();
            });
            $(".inpic-tab").mouseleave(function(){
                $(".main-slide .prev,.main-slide .next").hide();
            });
            $(".main-slide .prev,.main-slide .next").hover(function(){t = clearTimeout(t);},function(){t = setTimeout("visualShow()",3000);});
        });

        function visualShow()
        {
            if(tnum < $(".trigger-item").length-1)
            {
                tnum++;
            }
            else
            {
                tnum = 0;
            }
            setDesign();
            t = setTimeout("visualShow()",5000);
        }
        function setDesign()
        {
            $(".slide-item").stop(false,true).fadeOut(1000);
            $(".slide-item").eq(tnum).stop(true,true).fadeIn(1000);
            $(".trigger-item").removeClass("active");
            $(".trigger-item").eq(tnum).addClass("active");
        }
    </script>
{% endblock %}


